// @use "@angular/material" as mat;

// @include mat.core();

// $mv-theme-primary: (
//   50: #fde4f2,
//   100: #fbbcde,
//   200: #fb8fc8,
//   300: #fd5cb1,
//   400: #ff2a9c,
//   500: #ff0085,
//   600: #f00081,
//   700: #d9007b,
//   800: #c20076,
//   900: #99006e,

//   contrast: (
//     50: #0f172a,
//     100: #1e293b,
//     200: #334155,
//     300: #475569,
//     400: #64748b,
//     500: #94a3b8,
//     600: #cbd5e1,
//     700: #e2e8f0,
//     800: #f1f5f9,
//     900: #f8fafc,
//   ),
// );

// $mv-theme-accent: (
//   50: #fffce5,
//   100: #fff6be,
//   200: #fff093,
//   300: #ffeb66,
//   400: #fee640,
//   500: #ffe30c,
//   600: #fecf06,
//   700: #fcb700,
//   800: #fb9e00,
//   900: #f97200,

//   contrast: (
//     50: #0f172a,
//     100: #1e293b,
//     200: #334155,
//     300: #475569,
//     400: #64748b,
//     500: #94a3b8,
//     600: #cbd5e1,
//     700: #e2e8f0,
//     800: #f1f5f9,
//     900: #f8fafc,
//   ),
// );

// $mv-theme-warn: (
//   50: #defaf8,
//   100: #adf1ee,
//   200: #72e8e5,
//   300: #00dddd,
//   400: #00d5d8,
//   500: #00ccd5,
//   600: #00bcc2,
//   700: #00a6a8,
//   800: #009190,
//   900: #006d64,

//   contrast: (
//     50: #0f172a,
//     100: #1e293b,
//     200: #334155,
//     300: #475569,
//     400: #64748b,
//     500: #94a3b8,
//     600: #cbd5e1,
//     700: #e2e8f0,
//     800: #f1f5f9,
//     900: #f8fafc,
//   ),
// );

// $mv-theme: mat.define-dark-theme(
//   (
//     color: (
//       primary: $mv-theme-primary,
//       accent: $mv-theme-accent,
//       warn: $mv-theme-warn,
//     ),
//     typography: mat.define-typography-config(),
//     density: 0,
//   )
// );

// @include mat.button-theme($mv-theme);
// @include mat.core-theme($mv-theme);
// // @include mat.all-component-themes($mv-theme);

@use "@angular/material" as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

// Fonts
@import "https://fonts.googleapis.com/icon?family=Material+Icons+Outlined";

$fontConfig: (
  display-4: mat.define-typography-level(112px, 112px, 400, "Geist;", -0.0134em),
  display-3: mat.define-typography-level(56px, 56px, 400, "Geist;", -0.0089em),
  display-2: mat.define-typography-level(45px, 48px, 400, "Geist;", 0em),
  display-1: mat.define-typography-level(34px, 40px, 400, "Geist;", 0.0074em),
  headline: mat.define-typography-level(24px, 32px, 400, "Geist;", 0em),
  title: mat.define-typography-level(20px, 32px, 500, "Geist;", 0.0075em),
  subheading-2: mat.define-typography-level(16px, 28px, 400, "Geist;", 0.0094em),
  subheading-1: mat.define-typography-level(15px, 24px, 500, "Geist;", 0.0067em),
  body-2: mat.define-typography-level(14px, 24px, 500, "Geist;", 0.0179em),
  body-1: mat.define-typography-level(14px, 20px, 400, "Geist;", 0.0179em),
  button: mat.define-typography-level(14px, 14px, 500, "Geist;", 0.0893em),
  caption: mat.define-typography-level(12px, 20px, 400, "Geist;", 0.0333em),
  input: mat.define-typography-level(inherit, 1.125, 400, "Geist;", 1.5px),
);

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background: #fafafa;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Dark bg
$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

// Compute font config
@include mat.core();

// Theme Config

body {
  --primary-color: #ff2a9d;
  --primary-lighter-color: #ffbfe2;
  --primary-darker-color: #ff1981;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}
$mat-primary: (
  main: #ff2a9d,
  lighter: #ffbfe2,
  darker: #ff1981,
  200: #ff2a9d,
  // For slide toggle,
  contrast:
    (
      main: $light-primary-text,
      lighter: $dark-primary-text,
      darker: $light-primary-text,
    ),
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #ffe20c;
  --accent-lighter-color: #fff6b6;
  --accent-darker-color: #ffd606;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}
$mat-accent: (
  main: #ffe20c,
  lighter: #fff6b6,
  darker: #ffd606,
  200: #ffe20c,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #00dcdd;
  --warn-lighter-color: #b3f5f5;
  --warn-darker-color: #00cecf;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$dark-primary-text};
}
$mat-warn: (
  main: #00dcdd,
  lighter: #b3f5f5,
  darker: #00cecf,
  200: #00dcdd,
  // For slide toggle,
  contrast:
    (
      main: $dark-primary-text,
      lighter: $dark-primary-text,
      darker: $dark-primary-text,
    ),
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);
$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: false,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background,
);
$altTheme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);

// Theme Init
@include mat.all-component-themes($theme);

.theme-dark {
  @include mat.all-component-themes($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

// Handle buttons appropriately, with respect to line-height
// .mat-raised-button,
// .mat-stroked-button,
// .mat-flat-button {
//   padding: 0 1.15em;
//   margin: 0 0.65em;
//   min-width: 3em;
//   line-height: 36.4px;
// }

// .mat-standard-chip {
//   padding: 0.5em 0.85em;
//   min-height: 2.5em;
// }

// .material-icons {
//   font-size: 24px;
//   font-family: "Material Icons Outlined", "Material Icons";

//   .mat-badge-content {
//     font-family: "Geist;";
//   }
// }
