<div class="progress-boxes-container flex flex-row item-center flex-nowrap ml-3">
  <div
    class="progress-box w-16 h-10 -ml-3 text-white"
    *ngFor="let date of days(); let index = index"
  >
    <div
      class="wrapper absolute w-full h-full flex items-center justify-center"
      [ngClass]="{
        'bg-[var(--clr-tertiary)]':
          date.toDate().getTime() <
          dateSelectionService.currentDate().toDate().getTime(),
        'text-[var(--clr-secondary)] text-lg font-bold':
          date.startOf('day').toDate().getTime() ===
          dateSelectionService.currentDate().startOf('day').toDate().getTime(),
        'bg-[var(--clr-primary)]':
          date.toDate().getTime() >=
          dateSelectionService.currentDate().toDate().getTime()
      }"
    >
      <p>{{ date.format('DD') }}.</p>
    </div>
  </div>
</div>
