<div class="flex items-center gap-6">
  <img src="assets/images/logo/milano-logo-transparent.png" class="h-16" />
  <div>
    <p class="text-sm uppercase tracking-[0.2em] font-black text-[var(--clr-tertiary)] font-GeistMono">Deine</p>
    <h1
      class="text-brutalism-shadow text-3xl text-primary uppercase font-black tracking-wider"
    >
      Auszahlung
    </h1>
    <p class="italic text-xs">
      Bei den angeführten Daten handelt es sich um vorläufige Werte, die
      zunächst geprüft und freigegeben werden müssen.
    </p>
  </div>
</div>
<app-ticket-divider />
{{ revenue() | async | currency : "€" }}
