<div class="grid grid-cols-3 gap-0 pt-10">
  <div class="content-box-container">
    <app-landing-page-card>
      <ng-container card-title>Meine Abrechnungen</ng-container>
      <ng-container card-body>Du Sti-, Sta-, Stinkgesicht</ng-container>
      <ng-container card-actions>
        <app-button-primary
          [options]="btnOptions()"
          [routerLink]="['/', 'invoice']"
        >
          Zur Abrechnung
        </app-button-primary>
      </ng-container>
    </app-landing-page-card>
  </div>
  <div class="content-box-container"></div>
  <div class="content-box-container"></div>
</div>
