/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/fonts/geist/geist.font.scss";
@import "./assets/scss/theme.scss";

:root {
  --clr-primary: #ff2a9d;
  --clr-secondary: #ffe20c;
  --clr-tertiary: #00dcdd;
}

* {
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "rlig", "calt" 0;

  &::selection {
    background-color: var(--clr-primary);
    color: white;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Geist, Roboto, "Helvetica Neue", sans-serif;
}
